/*Imports a font from Google*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    background-image: linear-gradient(to bottom, #FFFFFF, #FFA3A3, #DF3535);
}

.portraits {
    width: 400px;
    height: 700px;
    object-fit: cover;
}

h1 {
    margin: 0;
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding: 50px;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;

}

figcaption {
    font-size: 30px;
    margin: 10px 0 15px 0;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/*a smooth transition effect when the following elements are hovered*/
a,
#hue-rotate,
#blur,
#sepia {
    transition: 0.5s;
}

a:hover {
    text-decoration: underline;
    font-size: 20px;
    letter-spacing: 2px;
}

#hue-rotate:hover {
    /*hue-rotate filter*/
    filter: hue-rotate(90deg);
}

#blur:hover {
    /*blur filter*/
    filter: blur(2px);
}

#sepia:hover {
    /*sepia filter*/
    filter: sepia(60%);
}

footer {
    padding: 30px;
    color: white;
}

p {
    text-transform: uppercase;
    font-weight: 400;
    /*float moves the element to the bottom right of the container*/
    float: right;
}