/*Imports a font from Google*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    text-align: center;
    background-image: linear-gradient(to bottom, #FFFFFF, #FFA3A3, #DF3535);
}

.portraits {
    width: 300px;
    height: 600px;
    object-fit: cover;
}

h1 {
    margin: 0;
    font-size: 50px;
    letter-spacing: 10px;
    text-transform: uppercase;
    padding: 50px;
}

main {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

div {
    margin: 0 50px;
    padding: 0.5px;
    /*height set to auto which adjust to the height of the container*/
    height: auto;
    background-image: linear-gradient(to top, #FFFFFF, #DF3535);
}

figcaption {
    font-size: 30px;
    margin: 10px 0 15px 0;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

/*a transition effect when the following elements are hovered*/

a:hover {
    text-decoration: underline;
    transition-duration: 0.5s;
    font-size: 20px;
}

#hue-rotate:hover {
    transition-duration: 0.5s;
    /*hue-rotate filter*/
    filter: hue-rotate(90deg);
}

#blur:hover {
    transition-duration: 0.5s;
    /*blur filter*/
    filter: blur(2px);
}

#sepia:hover {
    transition-duration: 0.5s;
    /*sepia filter*/
    filter: sepia(60%);
}

/*when hovering away from the element it will transition back to its original form*/

a,
#hue-rotate,
#blur,
#sepia:not(:hover) {
    transition-duration: 0.5s;
}

hr {
    margin: 0 100px;
}

footer {
    padding: 60px;
    color: white;
}