/*Imports a font from Google*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

video {
    /*takes the width and height of the container which is automatically the body's viewport size*/
    width: 70%;
    height: 25%;
}

body {
    font-family: "Poppins", sans-serif;
    /*135 degrees is set for the angle of the gradient background color*/
    background-image: linear-gradient(135deg, #27374D, #526D82, #9DB2BF);
}

h1 {
    text-align: center;
    font-size: 50px;
    margin: 40px 0;
    letter-spacing: 20px;
    color: white;
}

main {
    display: flex;
    /* makes the video horizontally center */
    justify-content: center;
}

a {
    padding: 15px;
    border-radius: 50px;
    text-decoration: none;
    color: white;
    border: 1px solid white;
}

a:hover {
    /*adds a smooth transition and changes the property values of the elemnt*/
    transition-duration: 0.5s;
    color: black;
    background-color: white;
    border: 1px solid white;
}

a:not(:hover) {
    /*adds a smooth transition to its original state when not hovered*/
    transition-duration: 0.5s;
}

footer {
    display: flex;
    /*makes the content place in both ends of each other*/
    justify-content: space-between;
    text-transform: uppercase;
    padding: 50px;
}